/*
 * Base structure
 */

/*
 * Typography
 */

/* h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
  color: white;
} */

.navbar-expand-md {
  background-image: linear-gradient(to bottom, #181543, #05031f 50%, #05031f);
  overflow: hidden;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
  background-image: linear-gradient(to bottom, #181543, #05031f 50%, #05031f);
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

h3 {
    text-align: center;
    color: white;
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    /* padding-bottom: 10px; */
    margin: 0px auto;
}

h3, table {
  text-align:center;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;

}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rebeccapurple;
    color: white;
}


.leftLine{
  border-left: solid 1px #282551;
  /* border-left: 1px solid black; */
}

p{
  color: #a29de2;
  font-weight: bold;
  font-size:13px;

}

.data{
  color:white;
}

.nav-item{
  margin: 0 auto;
}
