* {
    font-family: Roboto;
}

body {
    background-repeat: no-repeat;
    background-image: url('../images/background.png');
    background-size: cover;
    margin: 0;
    height: 100%
}

.button-logout {
    background-color: transparent;
    border: solid 1px #ff005b;
    border-radius: 4px;
    color: white;
}

.content {
    margin-left: 160px;
    margin-top:30px;
}

.sidenav {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, #181543, #05031f 50%, #05031f);
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;
}

.sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    margin-bottom: 10px;
}

.sidenav a.active {
    border-left: 5px solid mediumspringgreen;
}

.sidenav-bottom {
    float: bottom;
}

.sidenav i {
    color: #818181;
    display: block;
    font-size: 70px;
}

.sidenav img {
    width: 60px;
    height: 60px;
}

.topnav {
    margin-left: 150px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px;
    background-image: linear-gradient(to bottom, #181543, #110f36);
    overflow: hidden;
}

.topnav button {
    float: left;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    letter-spacing: 0.4px;
    font-size: 13px;
    font-weight: bold;
    color: #a29de2;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline:none;

}

.topnav button:hover {
    color: white;
}

.topnav .is-selected {
    border-bottom: 5px solid #03feb2;
}

.topnav .game {
    display: inline-block;
    color: white;
    padding: 0px;
    margin-top:10px;
    /* margin: 0px; */
}

.topnav .playerName {
    /* display: inline-block; */
    margin-right: 150px;
    margin-top: 10px;
    color: #aea8ff;
    float: right;
    padding: 0px;
    /* margin: 0px; */
}

.topnav header {
    padding: 15px 15px 5px 15px;
    margin: 0px;
}

/* Placeholders */
.placeholders {
 padding-bottom: 3rem;
}

.placeholder img {
 padding-top: 1.5rem;
 padding-bottom: 1.5rem;
}

h3 {
   text-align: center;
   color: white;
}

h1 {
  color: white;
}

table {
   font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
   border-collapse: collapse;
   /* padding-bottom: 10px; */
   margin: 0px auto;
}

h3, table {
 text-align:center;
}

td, th {
   border: 1px solid #ddd;
   padding: 8px;

}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
   padding-top: 12px;
   padding-bottom: 12px;
   text-align: left;
   background-color: rebeccapurple;
   color: white;
}


.leftLine{
 border-left: solid 1px #282551;
 /* border-left: 1px solid black; */
}

p{
 color: #a29de2;
 font-weight: bold;
 font-size:13px;

}

.data{
 color:white;
}

.nav-item{
 margin: 0 auto;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
