* {
    font-family: Roboto;
}

/* body *{
    border: 1px solid lightblue;
} */

body {
   background: url('../images/background.png');
    background-repeat:  no-repeat;
    background-blend-mode:screen;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    background-position: center ;
  
}


.layer{
    background-color: #181543;
    background-blend-mode:screen;
    position: absolute;
    top: 0;
    left: 0;
    width: 130%;
    height: 150%;
    opacity: 0.6;
}


.button-logout {
    background-color: transparent;
    border: solid 1px #ff005b;
    border-radius: 5px;
    color: white;
}

.card{
    border:none;
    table-layout: fixed;
}

.card-body {
    background-image: linear-gradient(to bottom, #161241, #14103d);
    table-layout: fixed;
   
}

.card-header {
    background-image: linear-gradient(to right, #2d1ea6, #ad43b4);
    border-image-source: linear-gradient(to left, #3322b5, #d667dd);
    border-image-slice: 1;
}

.card-header p {
    color: white;
    font-size: 13px;
    text-align: right;

}

.card-row-header {
    color: #a29de2;
    opacity:0.9;
    padding-top: 190px;
    font-size: 16px;
    font-weight:bold;
   
}



.content {
    margin-left: 210px;
    /* margin-top:30px; */
} 


.container {
    margin-top:0px; 
    padding-top:180px;
    margin-left: 16px;
}



.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, #181543, #05031f 50%, #05031f);
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;
}

.sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    margin-bottom: 10px;
}

.sidenav a.active {
    border-left: 5px solid mediumspringgreen;
}

.sidenav-bottom {
    float: bottom;
}

.sidenav i {
    color: #818181;
    display: block;
    font-size: 70px;
}

.sidenav img {
    width: 62px;
    height: 62px;
    border-radius: 11px; 
}

.topnav {
    position: fixed;
    z-index: 1;
    height: 130px;
    width: 91%;
    margin-left: 150px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px;
    background-image: linear-gradient(to bottom, #181543, #110f36);
    overflow: hidden;
}

.topnav button {
    float: left;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    letter-spacing: 0.4px;
    font-size: 13px;
    font-weight: bold;
    color: #a29de2;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline:none;

}

.topnav button:hover {
    color: white;
}

.topnav .is-selected {
    border-bottom: 5px solid #03feb2;
}

.topnav .game {
    display: inline-block;
    color: white;
    padding: 0px;
    margin-top:10px;
    /* margin: 0px; */
}

.topnav .playerName {
    /* display: inline-block; */
    margin-right: 150px;
    margin-top: 10px;
    color: #aea8ff;
    float: right;
    padding: 0px;
    /* margin: 0px; */
}

.topnav header {
    padding: 15px 15px 5px 15px;
    margin: 0px;
}

/* Placeholders */
.placeholders {
 padding-bottom: 3rem;
}

.placeholder img {
 padding-top: 1.5rem;
 padding-bottom: 1.5rem;
}

h3 {
   text-align: center;
   color: white;
}

h1 {
  color: white;
}

table {
   font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
   border-collapse: collapse;
   /* padding-bottom: 10px; */
   margin: 0px auto;
}

h3, table {
 text-align:center;
}

td, th {
   border: 1px solid #ddd;
   padding: 8px;

}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
   padding-top: 12px;
   padding-bottom: 12px;
   text-align: left;
   background-color: rebeccapurple;
   color: white;
}


.leftLine{
 border-left: solid 1px #282551;
 /* border-left: 1px solid black; */
}

p{
 color: #a29de2;
 font-weight: bold;
 /* font-size:16px; */
 font-family: roboto;

}

.data{
 color:white;
 font-size:23px;
 font-family: roboto;
}

.nav-item{
 margin: 0 auto;

}



@media (min-width: 576px) {  
    p{
        font-size:3px;
    }
    .data{
        font-size:5px;
    }
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    p{
        font-size:4px;
    }
    .data{
        font-size:5px;
    }
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    p{
        font-size:4.6px;
    }
    .data{
        font-size:8px;
    }
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    p{
        font-size:10.6px;
    }
    .data{
        font-size:12px;
    }
}

@media (min-width: 1400px) {  
    p{
        font-size:12.2px;
    }
    .data{
        font-size:20px;
    }
}

/* @media screen and (max-width: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    
} */

 

