body{
    margin:0;
    padding:0;
    background-image:url(../images/ninja.jpg);
    background-size: cover;
    background-position: center;
}

.loginbox{
    width:420px;
    height:420px;
    background-image: linear-gradient(to bottom, #181543, #05031f 50%, #05031f);
    /* background-image: url(../assets/images/loginbg.png); */
    color: #03feb2;
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 50px 30px;
    border-radius: 24px;
}

h1{
    margin: 0;
    padding:0 0 20px;
    text-align: center;
   
}

.loginbox p{
    margin:0;
    padding:0;
}

.loginbox input{
    width:100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]{
    border:none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color:#fff;
}


.loginbox input[type="submit"]{
    width: 320px;
    height: 48px;
    border-radius: 12px;
    background-image: linear-gradient(98deg, #ff0368, #6703ff), linear-gradient(98deg, #ff0368, #6703ff);
    margin-left: 25px;
    border:none;
    outline:none;
}



